body{
    padding: 0;
    margin: 0;
    background-color: rgb(246, 246, 246);
}
header{
    background-color: white;
    width: 100%;
}
header img{
    width: 5%;
    margin: 5px;
}
.page{
    margin: auto;
    width: 900px;
}

.imgcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
img{
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
}
.texts{
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
